# Default ignored files
/../../../../OneDrive-UniversitàdegliStudidiPadova/Python Scripts/GPTZero/.idea/shelf/
/../../../../OneDrive-UniversitàdegliStudidiPadova/Python Scripts/GPTZero/.idea/workspace.xml
